# AWS Settings
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
ECS_CLUSTER=swift-template-gallery
ECS_SERVICE=swift-template-gallery-service
